---
layout: project
title: Example Homepage
---

.row
  .span12
    %h2 Pages in the License tracker
    :markdown
      The pages for the License tracker have been created based on the wireframes.

      Here are links to the pages:	  
  
      Wireframe Page 1 &quot;[Project List](/projectdetail.html)&quot; 

      Wireframe Page 2 &quot;[Project Thumbnail](/projectthumbnail.html)&quot;

      Wireframe Page 3: &quot;[Releases](/releases.html)&quot; 

      Wireframe Pages 4, 5 &amp; 6 &quot;[Release information page with tabbed content](/releaseinfo.html)&quot;
