%h4 ProjectXYZ Information
%h5 Engineering Links
%ul.nav.nav-pills.nav-stacked
	%li
		%a{:href => ""} ProjectXYX
%hr
%ul.nav.nav-pills.nav-stacked
	%li
		%a{:href => ""} Code Access
	%li
		%a{:href => ""} Documentation
	%li
		%a{:href => ""} Jenkins
	%li
		%a{:href => ""} Jira
	%li
		%a{:href => ""} Downloads
%hr
%ul.nav.nav-pills.nav-stacked
	%li
		%a{:href => ""} LINK
	%li
		%a{:href => ""} LINK
	%li
		%a{:href => ""} LINK
	%li
		%a{:href => ""} LINK
	%li
		%a{:href => ""} LINK
%hr
%h5 Adminstrative Actions
%ul.nav.nav-pills.nav-stacked
	%li
		%a{:href => ""} Edit project information
	%li
		%a{:href => ""} Delete this project